# fly.toml app configuration file generated for etf-scraper on 2026-01-22T17:47:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'etf-scraper'
primary_region = 'dfw'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
